<div>
  <button mat-raised-button>a</button>
  <button mat-flat-button>a</button>
  <button mat-stroked-button>a</button>
</div>

<div>
  <button mat-icon-button>1</button>
  <button mat-fab>2</button>
  <button mat-mini-fab>3</button>
</div>

<div>
  <button color="primary" mat-raised-button>a</button>
  <button color="accent" mat-raised-button>a</button>
  <button color="warn" mat-raised-button>a</button>
</div>

<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div>
