button {
  margin: 1rem;
}

.navbar {
  justify-content: space-between;
}

.navbar span {
  padding-right: 2rem;
}

mat-sidenav-container {
  height: 400px;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: lightcoral;
  width: 200px;
}
