<section>
  <button mat-raised-button>a</button>
  <button mat-flat-button>a</button>
  <button mat-stroked-button>a</button>
</section>

<section>
  <button mat-icon-button>1</button>
  <button mat-fab>2</button>
  <button mat-mini-fab>3</button>
</section>

<section>
  <button color="primary" mat-raised-button>a</button>
  <button color="accent" mat-raised-button>a</button>
  <button color="warn" mat-raised-button>a</button>
</section>

<section>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</section>

<section>
  <mat-icon color="primary">grade</mat-icon>
</section>

<section>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0"
    >Notifications</span
  >
</section>

<section>
  <span
    matBadge="5"
    matBadgePosition="below before"
    matBadgeSize="large"
    matBadgeColor="warn"
    >Notifications</span
  >
</section>

<section>
  <span
    matBadge="5"
    matBadgePosition="below after"
    matBadgeSize="medium"
    matBadgeColor="accent"
    matBadgeOverlap="false"
    >Notifications</span
  >
</section>
<section>
  <span matBadge="5" matBadgePosition="above before" matBadgeSize="small"
    >Notifications</span
  >
</section>

<section>
  <mat-progress-spinner value="40" color="accent"></mat-progress-spinner>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
  <button mat-raised-button color="primary" (click)="loadData()">Load</button>
</section>

<section style="width: 200px; height: 30px">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>

<section>
  <mat-toolbar class="navbar" color="primary">
    <section>Hello world</section>
    <section>
      <span>Home</span>
      <span>About</span>
      <span>Services</span>
    </section>
  </mat-toolbar>
</section>

<button mat-raised-button color="primary" (click)="sidenavOpen = !sidenavOpen">
  Toggle Sidenav
</button>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="sidenavOpen">Sidenav</mat-sidenav>
  <mat-sidenav-content>
    <span>Content</span>
    <button mat-raised-button (click)="sidenav.open()">Open</button>
    <button mat-raised-button (click)="sidenav.close()">Close</button>
    <button mat-raised-button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>

<section>
  <br /><br /><br /><br /><br />
  <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
  </mat-menu>
  <button mat-raised-button [matMenuTriggerFor]="appMenu">Menu</button>

  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
  </mat-menu>

  <mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Logout ({{ name }})</button>
    </ng-template>
  </mat-menu>
  <button
    mat-raised-button
    [matMenuTriggerData]="{ name: 'Julio' }"
    [matMenuTriggerFor]="lazyMenu"
  >
    Load
  </button>
</section>

<section>
  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>

  <mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>

  <mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Services</a>
  </mat-nav-list>

  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine>Heading</h3>
      <p matLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine>Heading 2</h3>
      <p matLine>Line 2</p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</section>

<footer>...</footer>
